body {
	width: 48em;
	margin: 0 auto;
	
}

p {
	line-height: 1.5;
	text-align: justify;
}

img {
	display: block;
	margin: auto;
	width: 100%;
}

.r {
	text-align: right;
}

.sc {
	background-color: antiquewhite;
}

/* header and footer */

.x {
	margin: 0;
	padding: 1em 0;
}

.header, .footer {
}

.header {
	border-bottom: 1px solid black;
}

.footer {
	border-top: 1px solid black;
}

/* cuneiform */

.cun {
	font-family: Assurbanipal;
	font-size: 140%;
	margin: 0;
	padding: .5em 0 .25em;
}

@font-face {
	font-family: Assurbanipal;
	src: url(Assurbanipal.ttf);
}