body {
	font-family: sans-serif;
	font-size: 75%;
	
	background-image: url('wolken.jpg');
	background-attachment: fixed;
	
	margin: 10vh 10vw 0;
}

p {
	color: white;
	line-height: 1.5;
	
	margin: 0;
}

a {
	color: white;
	line-height: 2;
	text-decoration: none;
	
	user-select: none;
	outline: none;
}

a:hover, .sneaky:hover {
	color: rgba(255,255,255,0.5);
}

a > img:hover {
	border: 1.5vw solid rgba(255,255,255,0.5);
}

.sneaky {
	color: rgba(255,255,255,0);
}

img {
	border: 1.5vw solid white;
	margin: 0 0 5vw 0;
	height: 60vh;
	display: block;
	float: left;
	clear: left; /* dit en hierboven is om te zorgen dat de <a> niet een width van 100% heeft door de block */
}

@media screen and (max-width: 800px){
	body {
		margin: 10vw;
	}
	
	a {
		font-size: 140%;
	}
	
	img {
		height: auto;
		width: 75vw;
		border: 2.5vw solid white;
	}

	a > img:hover {
		border: 2.5vw solid rgba(255,255,255,0.5);
	}
}