body {
	font-family: sans-serif;
	font-size: 75%;
	margin: 3vw 0 0 6vw;
}

p {
	line-height: 1.5;
	margin-bottom: -1em;
}

a {
	color: black;
	text-decoration: none;
	user-select: none;
	outline: none;
	line-height: 2;
}

.sneaky {
	color: white;
}

a:hover, #overig:hover {
	color: hotpink;
}

img {
	margin: 0 5vw 5vw 0;
	vertical-align: middle;
}